_site
.bundle
.DS_Store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
node_modules/
vendor_config_dev.yml
_config_dev.yml

# Credentials and private keys
id_rsa
id_rsa.*
id_dsa
id_dsa.*
id_ecdsa
id_ecdsa.*
id_ed25519
id_ed25519.*
*.pem
*.key
