pre,
code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
}

pre {
  padding: 6px 12px;
  overflow-x: auto;
}

code {
  padding: 3px;
}

progress {
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 1px;
  appearance: none;
  border: none;
  color: var(--global-theme-color);
  background-color: transparent;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background-color: var(--global-theme-color);
}

html.transition,
html.transition * {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

ninja-keys {
  --ninja-accent-color: var(--global-theme-color);
  --ninja-icon-size: 0px;
  --ninja-modal-background: var(--global-bg-color);
  --ninja-z-index: 1031;
}

ninja-keys::part(ninja-input) {
  color: var(--ninja-selected-text-color);
}

ninja-keys::part(ninja-input-wrapper) {
  background: var(--global-bg-color);
}

mjx-container[jax="CHTML"][display="true"] {
  overflow-x: auto;
}
